body{
    background-color: rgb(19, 172, 243);
    padding-top: 100px;
}

.box{
    background-color: white;
    width: 600px;
    height: 400px;
    margin-left: 450px;    
}

#btns{
    font-size: 15px;
    font-family:  sans-serif;
    padding-top: 10;
    
    
    
}

#twt{
    font-size: 15px;
}